.message-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

h3 {
  margin-bottom: 15px;
}

label {
  margin: 15px;
}

button {
  margin-top: 15px;
  background: var(--dark-blue);
  color: var(--white);
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.type-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  width: 50vw;
  background-color: var(--white);
  color: var(--black);
  border-radius: 15px;
}