@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

:root {
  font-family: 'Quicksand', sans-serif;
  --light-yellow: #f7e4bf;
  --light-blue: #78a7c6;
  --dark-blue: #134d71;
  --white: #ffffff;
  --black: #000000;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
}

img {
  height: 100px;
}